{% extends "app_blog/base.html" %}
{% load static %}

{% block title %}Всі статті{% endblock %}

{% block content %}
<h2 class="mb-4">Всі публікації</h2>
<div class="row">
    {% for article in items %}
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description|truncatechars:150 }}</p>
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Детальніше</a>
                <small class="text-muted">{{ article.category.category }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}