<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint
			  name="CalcServiceEndpoint"
			  address="http://localhost:9999/CalcService"
			  binding="basicHttpBinding"
			  contract="CalcInterfaces.ICalcService" />
		</client>
	</system.serviceModel>

</configuration>