<configuration>
	<system.serviceModel>
		<services>
   <service name="CalcServer.CalcService">
    <endpoint address="http://localhost:9999/CalcService" binding="basicHttpBinding"
     name="CalcServiceEndpoint" contract="CalcInterfaces.ICalcService" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:9999/" />
     </baseAddresses>
    </host>
   </service>
  </services>
	</system.serviceModel>
</configuration>